*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea
.DS_Store
build
release
/captures
.externalNativeBuild

# Ignore signing and deploy properties
.keystore/keys.json
.keystore/keystore.jks
keystore.properties
